.evolution-chain {
  position: relative;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  opacity: 0;
  position: absolute;
  animation: jumpIn .5s ease-in-out .7s forwards;

  &.right {
    justify-content: flex-end;
  }
  

  // &::after {
  //   content: '';
  //   flex: 1;
  // }

  .evolution-name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
  }

  .evolution-image-wrapper {
    display: flex;
    align-items: center;
  }

  .current-form {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
  }

  // .previous-form {
  //   margin-right: auto;
  // }

  // .next-form {
  //   margin-left: auto;
  // }

  .evolution-arrow {
    &.previous {
      margin-left: 8px;
      color: #cfd123;
      right: -15px;
    }

    &.current {
      color: #5fbd58;
    }

    &.next {
      margin-right: 8px;
      left: -15px;
      color: green;
    }
  }
  
  .evolution-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

@keyframes jumpIn {
  from {
    transform: translateY(15px);
    opacity: 0;
    position: relative;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    position: relative;
  }
}
