* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body{
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

p {
  margin: 0;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.vertical-separator {
  width: 2px;
  display: inline-block;
  height: 50px;
  background: lightslategrey;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
